header {
        background-color: #333333;
        text-align: left;
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;

    a {
        color: black;
        background-color: white;
        padding: 1px 5px;
        border-radius: 4px;
        transition: color 0.3s ease;

    &:hover {
        color: darken(#fff, 20%)
        }
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;

    li {
        list-style-type: none;
        padding: 0px 10px;
        }
    }
}