video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.home-container { //main div for all of home
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.search-primary { //search bar
    height: 50px;
    width: 50vh;
    opacity: 0.4;
}

.welcome-text{ //holds h1 and p
    color: white;
    margin: 275px;
}

.welcome-text > h1 {
    font-size: 80px;
}


@media screen and (max-width: 960px) {
    .welcome-text > h1 {
        font-size: 80px;
    }

    .welcome-text > p {
        font-size: 15px;
    }
}

@media screen and (max-width: 960px) {
    .welcome-text > h1 {
        font-size: 50px;
    }

    .search-primary {
        width: 35vh;
    }

    video {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 760px) {
    .welcome-text > h1 {
        font-size: 50px;
    }

    .search-primary {
        width: 35vh;
    }

    video {
        width: 100%;
        height: 100%;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}


// ---------------------------


.cards {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    background-color: transparent;
    padding: 100px;
}

.img-container {
    cursor: pointer;
    background-color: transparent;
    height: 403px;
    perspective: 1000px;
}

.img-container img {
    width: 261px;
    height: 372px;
    object-fit: none;
}

.form-search-bar {
    padding: 10px;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 250px;
    width: 315px;
}

.img-title {
    /* margin-bottom: -3rem; */
    padding: 0px;
    color: white;
    display: inline;
    font-size: 16px;
}